@import-normalize;

@font-face {
  font-family: "FiraSans-Regular";
  src: local("FiraSans-Regular"),
    url("./fonts/Fira_Sans/FiraSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Oswald-Regular";
  src: local("Oswald-Regular"),
    url("./fonts/Oswald/static/Oswald-Regular.ttf") format("truetype");
}

:root {
  --primary-green-color: #97d28b;
  --primary-dark-color: rgb(23, 61, 51);
  --primary-light-color: #dcefd8;
  --text-color: #173d33;
  --bg-section-color: #eaedf1;
  --text-menu-white: #fff;
  --transition: all 0.4s ease;
}

* {
  box-sizing: border-box;
}
/* html {
  height: 100vh;
} */
body {
  background-color: #f3f5fa;
  font-family: "FiraSans-Regular", sans-serif;

  font-style: normal;
  line-height: normal;
  color: var(--text-color);

  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-wrap: balance;
  font-family: "Oswald-Regular", sans-serif;
  text-transform: uppercase;
}

p {
  text-wrap: pretty;
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
.slick-prev:before,
.slick-next:before {
  color: black;
}
.slick-dots {
  margin-bottom: 10px;
}
.element {
  opacity: 0.4;
  &.active {
    opacity: 1;
    transition: opacity 2s ease;
  }
}

.typed-cursor {
  opacity: 1;
  font: inherit;
  font-size: 20px;
  color: inherit;
  margin-bottom: 10px;
  margin-left: 5px;
}
@media (min-width: 768px) {
  .typed-cursor {
    font-size: 26px;
    margin-bottom: 8px;
  }
}
@media (min-width: 1280px) {
  .typed-cursor {
    font-size: 34px;
    margin-bottom: 6px;
  }
}
.fade {
  transition: color 8s;
  color: transparent;
}
